fastapi
uvicorn
motor==3.3.2
pymongo==4.6.3
dnspython==2.6.1
python-dotenv
slowapi
python-jose[cryptography]
passlib[bcrypt]
google-genai
gunicorn
pydantic
pydantic-settings
email-validator
python-multipart
certifi
